pandas
Pillow

# google General Availability SDK for Gemini 2.0+
google-genai

# google legacy SDK ended on November 30, 2025
google-generativeai

# 飞书应用
lark-oapi

# Telegram 应用
python-telegram-bot

# 火山方舟
volcengine-python-sdk

# RAG based documents file
python-docx
pypdf
docx2pdf

# Patch asyncio to allow nested event loops
nest_asyncio

#install plugin
dulwich
flask